
body{
    background-image: url('./images/day_sunny.jpg');
}
.search{
    padding: 10px;
    margin: 20px;
    width: 30%;

    border-radius: 5px;
    border :2px solid black;
    font-size: 24px;
    box-shadow: 2px 3px 10px 3px rgb(22, 22, 22);
    background-color: black;

    color: white;
    

}
.search:focus{
    outline: none;
}

.weather-main{
    margin: 10% 20% 0% 20%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;


    /* width: 70%; */
    /* justify-content: center; */
    /* align-items: center; */
    color: rgb(198, 198, 198);
    font-size: 18px;

    background-color: rgba(0, 0, 0, 0.45);

    border-radius: 10px;
    box-shadow: 2px 3px 10px 3px rgba(255, 255, 255, 0.45);
}

.city{
    color: rgb(169, 169, 169);
    font-weight: 800;
    justify-content: center;
    display: flex;
    gap: 20%;
    font-size: 32px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.condition{
    color: rgb(169, 169, 169);
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

